/*
Dark Slate Gray: #28536B Dark Blue
Rosy Brown: #C2948A Dark Pink
Moonstone Blue: #7EA8BE Light Blue
Isabelline: #F6F0ED White
Khaki: #BBB193 Brown
*/

/* Global Styles 
------------------------*/
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Laila', serif;

}

h2 {
  font-size: 26px;
  margin-top: 0;
}

h1 {
  font-size: 40px;
}

a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
}

.bio {
  padding: 10px;
}

/* Header 
------------------------*/
header{
  background: #28536b;
}

header h1, header h2 {
  color: #F6F0ED;
  margin: 0;
}

.profile-img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

/* Footer 
-------------------------*/
footer{
  background: #28536b;
  color: #F6F0ED;
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Work Experience
-------------------------*/
.work {

}


/* Education
-------------------------*/
.education{

}